.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../src/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.content {
  flex: 1;
}
